body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    margin-bottom: 40px;
}

.dark-background {
    background-color: #1f2937;
    color: #f9faf8;
}

.no-underline {
    text-decoration: none;
}

.main-link {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.nav-bar {
    display: flex;
    gap: 16px;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    font-size: 18px;
    color: #e5e7eb;
}

.title-section {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    margin: 80px;
}

.title-description {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

.title-info {
    font-size: 18px;
    color: #e5e7eb;
}

.title-image {
    width: 650px;
    height: 290px;
    background-color: #8d93a5;
    text-align: center;
    flex-shrink: 0;
}

.sign-up-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 8px;
    align-self: flex-start;
    border: 0;
}

.info-section {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.info-content {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info-image {
    width: 150px;
    height: 150px;
    border: 3px #3882f6;
    border-radius: 8px;
}

.info-text {
    width: 150px;
}