body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    margin-bottom: 40px;
}

.dark-background {
    background-color: #1f2937;
    color: #f9faf8;
}

.no-underline {
    text-decoration: none;
}

.main-link {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    font-size: 18px;
    color: #e5e7eb;
}

.title-section {
    display: flex;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    margin: 120px;
    flex-wrap: wrap;
}

.title-description {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

.title-info {
    font-size: 18px;
    color: #e5e7eb;
}

.title-image {
    width: 650px;
    height: 290px;
    background-color: #8d93a5;
    text-align: center;
    flex-shrink: 0;
}

.sign-up-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 8px;
    align-self: flex-start;
    border: 0;
}

.info-section {
    display: flex;
    flex-direction: column;
    padding: 80px;
    gap: 80px;
    margin-bottom: 40px;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.info-content {
    display: flex;
    justify-content: center;
    gap: 72px;
    flex-wrap: wrap;
}

.info-combo {
    display: flex;
    flex-direction: column;
}

.info-image {
    width: 145px;
    height: 145px;
    border: 3px solid #3882f6;
    border-radius: 8px;
    flex-shrink: 0;
}

.info-text {
    width: 150px;
    text-align: center;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 430px;
    border: 80px solid #e5e7eb;
}

.grey-background {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    padding-bottom: 0;
    margin-bottom: 0;
}

.quote-person {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 20px;
    margin: 0;
    padding: 0 16px;
}

.call-to-action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 320px;
    padding: 60px 160px;
    border-radius: 8px;
    flex-wrap: wrap;
}

.blue-background {
    background-color: #3882f6;
    color: #f9faf8;
}

.action-content {
    display: flex;
    flex-direction: column;
}

.action-title {
    font-weight: bold;
    font-size: large;
}

.action-description {
    font-weight: lighter;
    font-size: small;
    margin: 0;
    padding: 0;
}

.call-to-action-section .sign-up-button {
    border: 2px solid white;
}

footer {
    padding: 40px;
    text-align: center;
}